body {
    background-color: #F8F6F3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
#logo {
    width: 40%;
}
    
p {
    color: #777;
}
/* .impraise-balls-background h1 p{
    background: url(Images/Wallpaper\ 8.png);
    background-repeat: no-repeat;
    background-size: 50% */
}
#introduction {
    line-height: 24px;
    margin-bottom: 40px;
}
.section-title {
    padding-top: 20px;
}
.paddingplus {
    padding: 0 10px;
}
.inputfields {
    width: 90%;
    margin: 0 auto;
    display: block;
}
h1 {
    color: #333333;
}
 h2 {
    color: #333333;
 }
.hide {
    display: none
}
button {
    background-color: white;
    color: #006a5f;
    border-radius: 15px;
    border: 1px solid #006a5f;
    width: 90%;
    margin: 10px 10px 10px 18px;
    height: 40px;
    font-weight: 600;
    transition-duration: 0.1s;
}
button:hover {
    background-color: #E8F2F1;
    color:#006a5f;
  }

.feedback-constructor {
    background-color: #ffffff;
    padding: 0 10px;
    border-radius: 15px;
    box-shadow: ;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }