body {
    background-color: #F8F6F3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
#logo {
    width: 40%;
}

p {
    color: #777;
}
/* .impraise-balls-background h1 p{
    background: url(Images/Wallpaper\ 8.png);
    background-repeat: no-repeat;
    background-size: 50% */
#introduction {
    line-height: 24px;
    margin-bottom: 60px;
}
.section-title {
    padding-top: 20px;
    color: #333333;
}
.short-description {
    font-weight: 200;
    margin-bottom: 20px;
}
.paddingplus {
    padding: 0 10px;
}
.inputfields {
    width: 90%;
    margin: 0 auto;
    display: block;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #7777;
    padding: 0 10px;
}
.inputfields::placeholder {
    color: #7777;
  }
h1 {
    color: #333333;
    font-size: 40px;
    font-weight: 600;
}
 h2 {
    color: #333333;
    font-weight: 400;
 }
 h3 {
     color: #333333;
     font-weight: 400;
 }
.hide {
    display: none
}
.examples-btn {
    font-size: 12px;
    margin-bottom: 20px;
    cursor: pointer;
}
.caret {
    border: 5px solid transparent;
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0.5;
    vertical-align: top;
}
.caret.up {
    border-bottom: 5px solid;
}
.caret.right {
    border-left: 5px solid;
    position: relative;
    left: 10px;
    top: 3px;
}
.caret.down {
    border-top: 5px solid;
}
.caret.left {
    border-right: 5px solid;
}
button {
    background-color:#006a5f;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #006a5f;
    width: 90%;
    margin: 10px 10px 10px 18px;
    height: 40px;
    font-weight: 600;
    transition-duration: 0.1s;
}
button:hover {
    background-color: #fff;
    color:#006a5f;
  }
.button-reverse {
    background-color: #fff;
    color: #006a5f;
    border-radius: 20px;
    border: 1px solid #006a5f;
    width: 90%;
    margin: 0px 0px 0px 0px;
    height: 40px;
    font-weight: 600;
    transition-duration: 0.1s;
}
.button-reverse:hover{
    background-color: #E8F2F1;
    color:#006a5f;
}
.feedback-constructor {
    background-color: #ffffff;
    padding: 0 10px 30px 10px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: rgba(143, 111, 63, 0.1) 0px 4px 8px
}
#updated-text-area {
    display: none;
    margin: 20px auto 0 auto;
    width: 90%;
    border-radius: 15 px;
}
.keeping-scores {
    margin-bottom: 60px;
}
.your-constructive-feedback{
    background-color: #ffffff;
    padding: 0 10px 30px 10px;
    margin: 40px 0 40px 0;
    border-radius: 15px;
    box-shadow: rgba(143, 111, 63, 0.1) 0px 4px 8px
}
.email-input {
    text-align: left;
    display: block;
    margin: 0 60px 0px 20px;
    background-color: transparent;
    border-bottom: 1px solid #777;
    font-size: 1rem;
    padding: .5rem .5rem .5rem 0;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 0;
}
footer {
    background-color: #f2eee7;
    font-size: 10px;
}
@media (min-width: 768px) {
    .desktop-wrapper {
        margin: 0 200px 40px 200px;
    }
    #logo {
        width: 150px;
    }
    .feedback-constructor {
        padding: 20px 40px 40px 40px;
    }
    .align-your-constructive-feedback {
        padding-left: 20px;
    }
    .submit-area {
        display: flex;
        justify-content: space-between;
    }
    button {
        margin: 0 auto;
        display: block;
    }
    }
